@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Ver se vai ter internet, se não tiver, tem que baixar a fonte */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

:root {
  --vermelho1: #ab2711;
  --vermelho2: #f13617;
  --azul1: #101d93;
  --azul2: #7589f2;
}

body {
  height: 100vh;
  background: linear-gradient(
    45deg,
    var(--azul1) 0%,
    var(--azul2) 100%,
    var(--azul1) 80%
  );
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  gap: 30px;
  height: 20vh;
}
