@import url(../global.css);

main {
  width: 100%;
  height: 77vh;
  background-image: url(../../images/index/planoShowMilhao.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.head {
  display: flex;
  text-align: end;
  gap: 10px;
  border: solid 1px white;
  box-shadow: inset 0px 0px 5px white;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

label {
  display: flex;
  width: 160px;
}

input {
  width: 50px;
  height: 50px;
  text-align: right;
  font-size: 20px;
  background: none;
  border: solid 2px #262626;
  border-radius: 50%;
}

button {
  border-radius: 20px;
  width: 242px;
  height: 70px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    var(--vermelho1) 0%,
    var(--vermelho1) 50%,
    #262626 50%,
    #262626 100%
  );
  color: white;
  transition: background 0.5s ease-in-out;
  background-size: 500px 1px;
  border: solid 1.5px white;
  font-size: 20px;
}

button:hover {
  background-position: 250px;
}

hr {
  width: 100%;
}
